<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="D:\Subin\Tech\Asp.NetCore_WebApi_3.1\CodeMaze\CompanyEmployees\CompanyEmployees\Log\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File" fileName="D:\Subin\Tech\Asp.NetCore_WebApi_3.1\CodeMaze\CompanyEmployees\CompanyEmployees\Log\${shortdate}_logfile.txt" layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>